body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

/* Definimos un estilo para los encabezados */
h1, h2, h3 {
    color: #333;
    font-weight: bold;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Definimos un estilo para los enlaces */
a {
    color: #0080ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
